<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PreguntadOrt</title>
</head>
<body class="index">
    <div class="tlicon">
        <a href='@Url.Action("ConfigurarJuego")'><img src="imgs/config.png" alt="configuración" class="tlicon"></a>
    </div>
    <div class="flexcolumn">
         <h1 class="title">PreguntadOrt</h1>
    <img src="imgs/logo.png" alt="logo" class="logo">
    <ul class="menu">
        <li><a href='@Url.Action("Comenzar")'>Jugar</a></li>
        <li><a href='@Url.Action("CrearPregunta")'>Crear Pregunta</a></li>
        <li><a href='@Url.Action("Creditos")'>Créditos</a></li>
    </ul>
   
        <div class="tlicon">
            <div class="content">
                <a href='@Url.Action("ConfigurarJuego")'><p class="tooltiptext">Configura tu juego</p></a>
            </div>
        </div>
    </div>
</body>
</html>